h1 {
  color:#774723;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  }

h2 {
  color: #89572D;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
  }



  h6 {
  color: #B99268;
  font-family: "Lucida Handwriting", cursive;
  font-size: 20px;
  }

p {
    color: #906752;
    font-family: "Courier New", monospace;
}

