
.first-section h1 {
  color:#ba9137;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  }

h2 {
  color: #BCBA90;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
  }



  h6 {
  color: #DEC28C;
  font-family: "Lucida Console", monospace;
  font-size: 20px;
  }

p {
    color: #759194;
    font-family: "Courier New", monospace;
}

